.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;

  &__middle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__button {
    width: 60px;
    height: 60px;
    background: #222222;
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 2rem;

    &:active, &:focus {
      outline: none;
    }

    &--pressed {
      transform: scale(0.9);
      background: #000000;
    }

    &--empty {
      background: transparent;
      padding: 0;
    }
  }
}
